@import "tailwindcss";

@theme{
    --container-xss:20rem;
    --container-xs:21rem;
    --container-smx:31rem;
    --container-md:40rem;
    --container-mdx:41rem;
}


.logo{
    font-family: "Alfa Slab One", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    background-color: hsl(251, 97.40%, 14.90%);
    color: white;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-color: hsl(253, 100%, 4%);
    color: white;
}


.navlist{
    font-weight: bolder;
}

.navlist > li{
}

.Cart{
    display: flex;
    align-self: center;
    font-weight: bolder;
    background-color: white;
    color: black;
    border-radius: .5rem;
}


/* .btn{
    @apply w-[2.2rem] h-[2.4rem] font-extrabold bg-blue-300 rounded;
}

.btn:nth-child(2){
    @apply bg-green-500 border-2 text-white border-black;
}

.btn > span{
    @apply text-2xl;
} */
